body, html {
    height: 100%;
    /*overflow: auto;*/
}

 
::-webkit-scrollbar {
    width: 0.3vw;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0, 0.6);
}

header {
    height:100%;
}

hr.sep-after-screen {
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    height: 2px;
    opacity: .5;
}

hr.sep-after-screen:not([size]) {
    height:2px;
}

div.masthead {
    /* Choose background image */
    background-image: url("../assets/wallpaper.jpg");
  

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
    
}

* {
    box-sizing: border-box;
}

/* Position text in the middle of the page/image */
.masthead-subheading {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 3rem 0;
    text-align: center;
}

#mainNav {
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    transition: all 0.15s ease-in-out;
}

#mainNavContainer {
    transition: all 0s ease-in-out;
}

#mainNav.scroll {
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    padding-top: 0;
    padding-bottom: 0;
    font-size: 80% !important;
    box-shadow:  0 4px 4px -2px #000000
}

.scroll-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    bottom: 3rem;
    left: calc(50% - 1.25rem);
    -webkit-animation: float 2s linear infinite;
    animation: float 2s linear infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    z-index: 2;
}

@-webkit-keyframes float {
    0% {
      -webkit-transform: translateY(0.5rem);
      transform: translateY(0.5rem);
    }
    100% {
      -webkit-transform: none;
      transform: none;
    }
}

section.home-personal {
    padding: 8vh 0;
}

p.home-details {
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-top: 4vh;
    font-size:120%;
}

p.second {
    padding-top: 1vh;
}

a.about-btn {
    width: auto;
    margin-left: calc(var(--bs-gutter-x) * 1.5); 
    margin-top: 1vh;
    padding-left:1vw;
    padding-right:1vw;
    font-size:110%;
}

hr.sep-after-intro {
    margin: 0;
    color: rgba(0, 0, 0, 0.3);
    height: 1px;
    opacity: .5;
}

hr.sep-after-intro:not([size]) {
    height: 1px;
}

section.home-expertise {
    padding: 8vh 0;
}

.exp-item {
    height: 18rem;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.exp-hover {
    position: absolute;
    height: inherit;
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: rgba(11, 44, 151, 0.95);
    color:#ffffff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    margin: auto;
}

.exp-hover:hover {
    opacity: 1;
    cursor: default;
}

#expertise-title {
    margin-bottom:5vh;
}

@media (max-width: 576px) {
    .exp-item {
        height:9rem;
    }
}

#data-mgmt-exp {
    background-image: url("../assets/data_gathering_and_management.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#data-analysis-exp {
    background-image: url("../assets/data_analysis_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.line-break {
    width: inherit;
    height: 1vh;
}

#dash-exp {
    background-image: url("../assets/dashboard.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ml-exp {
    background-image: url("../assets/predictive_modelling.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-exp {
    text-align: center;
}

.desc-exp {
    text-align: center;
}